.schedule-container {
    margin-left: 230px;
    margin-top: 30px;
    margin-right: 30px;
    break-inside: avoid;
    width: 100%;
    margin-bottom: 50px;
}

.date-picker-container {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
}

.date-picker-container label {
    margin-right: 15px;
    color: #555;
    
}

.date-input {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    margin-right: 20px;
    font-size: 16px;
    color: #333;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
}


.icons-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.icon img {
    width: 30px;
    height: auto;
}

.icon span {
    margin-left: 5px;
    display: inline-block;
    width: 100px;
}

.day {
    display: flex;
    flex-direction: row;
    align-items: flex;
    margin-bottom: 30px;
    max-width: 1000px;
}

.day-header {
    background-color: #EBEBEB;
    border: 0px solid #dcdcdc;
    box-shadow: 0 3px 5px rgba(51, 51, 51, 0.5);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.train-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.train {
    background-color: white;
    border: 1px solid #dcdcdc;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.train img {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.train span {
    flex: 1;
    margin: 0 10px;
    white-space: nowrap;
}

.day-name,
.day-date {
    display: block;
}

.day-date {
    font-weight: normal;
}

.coll-train {
    color: red;
    font-weight: bold;
}


.train-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.train-hoverable {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.train-hoverable:hover .train {
    background-color: #d9e2ff;
    color: black;
}


@media (max-width: 1200px) {
    .schedule-container {
        margin-left: 180px;
    }
}

@media (max-width: 800px) {
    .schedule-container {
        margin-left: 30px;
        margin-top: 90px;
    }

    .day {
        flex-direction: column;
    }

    .day-header {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .date-picker-container {
        flex-direction: column;
    }

    .date-picker-container label {
        margin-bottom: 10px;
    }

    .date-input {
        margin-bottom: 10px;
    }

    .date-input-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .train {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .train img {
        margin: 0;
        padding: 0;
    }
}