@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if(HttpContext.User.Identity.IsAuthenticated) {
        <p>@HttpContext.User.Identity.Name</p>
    }
    <p><li><a asp-page="/Login">Sign in</a></li></p>
</div>
