@page
@model ManageModel
@using code.Components
@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Management";
}

@if(Model.allow){
    @(await Html.RenderComponentAsync<UserManagement>(RenderMode.ServerPrerendered))
}else{
    <h4>Niesi admin chod prec</h4>
}


<script src="_framework/blazor.server.js"></script> 